footer {
    background: var(--black-color);
    color: var(--white-color);
    padding: 2rem 0px;
}



@media screen and (max-width : 768px) {
    footer {
        margin-top: 5rem;
        line-height: 1.5rem;
    }

    footer span{
        text-align: center;
        display: block;
    }


}